In [2]:
import pandas as pd

In [3]:
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [27]:
dis_school_total=school_data["school_name"].count()
dis_students_total=school_data["size"].sum()
dis_budget_total=school_data["budget"].sum()

dis_math_average=student_data["math_score"].mean()
dis_reading_average=student_data["reading_score"].mean()

dis_passing_math=student_data.loc[student_data["math_score"]>=70]["student_name"].count()
dis_percent_passing_math=dis_passing_math/dis_students_total

dis_passing_reading=student_data.loc[student_data["reading_score"]>=70]["student_name"].count()
dis_percent_passing_reading=dis_passing_reading/dis_students_total

dis_passing_overall=(dis_percent_passing_math+dis_percent_passing_reading)/2

dis_summary=pd.DataFrame({"Total Schools": [dis_school_total],
                          "Total Students": [dis_students_total],
                          "Total Budget": [dis_budget_total],
                          "Average Math Score": [dis_math_average],
                          "Average Reading Score": [dis_reading_average],
                          "% Passing Math": [dis_percent_passing_math],
                          "% Passing Reading": [dis_percent_passing_reading],
                          "Overall Passing Rate": [dis_passing_overall]
                         })

dis_summary.style.format({"Total Budget": "${:,.0f}", 
                          "Average Reading Score": "{:.2f}", 
                          "Average Math Score": "{:.2f}", 
                          "% Passing Math": "{:.2%}", 
                          "% Passing Reading": "{:.2%}", 
                          "Overall Passing Rate": "{:.2%}"
                         })

In [25]:
by_school=school_data_complete.set_index("school_name").groupby(["school_name"])
school_type=school_data.set_index("school_name")["type"]

total_students=by_school["Student ID"].count()
total_budget=school_data.set_index("school_name")["budget"]
per_student_budget=total_budget/school_data.set_index("school_name")["size"]

math_average=by_school["math_score"].mean()
reading_average=by_school["reading_score"].mean()

passing_math=school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_math=passing_math/total_students

passing_reading=school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_reading=passing_reading/total_students

overall_passing=(percent_passing_math+percent_passing_reading)/2

school_summary=pd.DataFrame({"School Type": school_type,
                             "Total Students": total_students,
                             "Total School Budget": total_budget,
                             "Per Student Budget": per_student_budget,
                             "Average Math Score": math_average,
                             "Average Reading Score": reading_average,
                             "% Passing Math": percent_passing_math,
                             "% Passing Reading": percent_passing_reading,
                             "Overall Passing Rate": overall_passing
                            })

school_summary.style.format({"Total Students": "{:,}", 
                             "Total School Budget": "${:,}", 
                             "Per Student Budget": "${:.0f}",
                             "Average Math Score": "{:.2f}", 
                             "Average Reading Score": "{:.2f}", 
                             "% Passing Math": "{:.2%}", 
                             "% Passing Reading": "{:.2%}", 
                             "Overall Passing Rate": "{:.2%}"
                            })

In [24]:
top_schools=school_summary.sort_values("Overall Passing Rate", ascending=False)
top_schools.head().style.format({"Total Students": "{:,}", 
                             "Total School Budget": "${:,}", 
                             "Per Student Budget": "${:.0f}",
                             "Average Math Score": "{:.2f}", 
                             "Average Reading Score": "{:.2f}", 
                             "% Passing Math": "{:.2%}", 
                             "% Passing Reading": "{:.2%}", 
                             "Overall Passing Rate": "{:.2%}"
                            })

In [23]:
bottom_schools=school_summary.sort_values("Overall Passing Rate", ascending=True)
bottom_schools.head().style.format({"Total Students": "{:,}", 
                             "Total School Budget": "${:,}", 
                             "Per Student Budget": "${:.0f}",
                             "Average Math Score": "{:.2f}", 
                             "Average Reading Score": "{:.2f}", 
                             "% Passing Math": "{:.2%}", 
                             "% Passing Reading": "{:.2%}", 
                             "Overall Passing Rate": "{:.2%}"
                            })

In [22]:
nineth_grade=student_data.loc[student_data["grade"]=="9th"].groupby("school_name")["math_score"].mean()
tenth_grade=student_data.loc[student_data["grade"]=="10th"].groupby("school_name")["math_score"].mean()
eleventh_grade=student_data.loc[student_data["grade"]=="11th"].groupby("school_name")["math_score"].mean()
twelfth_grade=student_data.loc[student_data["grade"]=="12th"].groupby("school_name")["math_score"].mean()

math_scores=pd.DataFrame({"9th": nineth_grade,
                         "10th": tenth_grade,
                         "11th": eleventh_grade,
                         "12th": twelfth_grade})
math_scores.index.name= "School"

math_scores.style.format({"9th": "{:.2f}", 
                          "10th": "{:.2f}", 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"
                         })

In [28]:
nineth_grade=student_data.loc[student_data["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
tenth_grade=student_data.loc[student_data["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
eleventh_grade=student_data.loc[student_data["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
twelfth_grade=student_data.loc[student_data["grade"]=="12th"].groupby("school_name")["reading_score"].mean()

reading_scores=pd.DataFrame({"9th": nineth_grade,
                         "10th": tenth_grade,
                         "11th": eleventh_grade,
                         "12th": twelfth_grade})
reading_scores.index.name= "School"

reading_scores.style.format({"9th": "{:.2f}", 
                          "10th": "{:.2f}", 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"
                         })

In [31]:
bins=[0,585,615,645,675]
group_name=["<$585","$585-615","$615-645","$645-675"]

school_data_complete["bins"]=pd.cut(school_data_complete["budget"]/school_data_complete["size"], bins, labels = group_name)

by_spending=school_data_complete.groupby("bins")

math_average=by_spending["math_score"].mean()
reading_average=by_spending["reading_score"].mean()

percent_passing_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("bins")["Student ID"].count()/by_spending["Student ID"].count()

percent_passing_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("bins")["Student ID"].count()/by_spending["Student ID"].count()

overall_passing=(percent_passing_math+percent_passing_reading)/2

spending_scores=pd.DataFrame({"Average Math Score": math_average,
                             "Average Reading Score": reading_average,
                             "% Passing Math": percent_passing_math,
                             "% Passing Reading": percent_passing_reading,
                             "Overall Passing Rate": overall_passing})
spending_scores.index.name= "Spending Ranges"

spending_scores.style.format({"Average Math Score": "{:.2f}", 
                              "Average Reading Score": "{:.2f}", 
                              "% Passing Math": "{:.2%}", 
                              "% Passing Reading":"{:.2%}", 
                              "Overall Passing Rate": "{:.2%}"
                             })

In [32]:
bins=[0,1000,2000,5000]
group_name=["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]

school_data_complete["bins"]=pd.cut(school_data_complete["size"], bins, labels = group_name)

by_size=school_data_complete.groupby("bins")

math_average=by_size["math_score"].mean()
reading_average=by_size["reading_score"].mean()

percent_passing_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("bins")["Student ID"].count()/by_size["Student ID"].count()

percent_passing_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("bins")["Student ID"].count()/by_size["Student ID"].count()

overall_passing=(percent_passing_math+percent_passing_reading)/2

size_scores=pd.DataFrame({"Average Math Score": math_average,
                             "Average Reading Score": reading_average,
                             "% Passing Math": percent_passing_math,
                             "% Passing Reading": percent_passing_reading,
                             "Overall Passing Rate": overall_passing})
size_scores.index.name= "School Size"

size_scores.style.format({"Average Math Score": "{:.2f}", 
                              "Average Reading Score": "{:.2f}", 
                              "% Passing Math": "{:.2%}", 
                              "% Passing Reading":"{:.2%}", 
                              "Overall Passing Rate": "{:.2%}"
                             })

In [33]:
by_type=school_data_complete.groupby("type")

math_average=by_type["math_score"].mean()
reading_average=by_type["reading_score"].mean()

percent_passing_math=school_data_complete[school_data_complete["math_score"]>=70].groupby("type")["Student ID"].count()/by_type["Student ID"].count()

percent_passing_reading=school_data_complete[school_data_complete["reading_score"]>=70].groupby("type")["Student ID"].count()/by_type["Student ID"].count()

overall_passing=(percent_passing_math+percent_passing_reading)/2

type_scores=pd.DataFrame({"Average Math Score": math_average,
                             "Average Reading Score": reading_average,
                             "% Passing Math": percent_passing_math,
                             "% Passing Reading": percent_passing_reading,
                             "Overall Passing Rate": overall_passing})

type_scores.index.name= "Type of School"
type_scores.style.format({"Average Math Score": "{:.2f}", 
                              "Average Reading Score": "{:.2f}", 
                              "% Passing Math": "{:.2%}", 
                              "% Passing Reading":"{:.2%}", 
                              "Overall Passing Rate": "{:.2%}"
                             })

In [37]:
print("There are 3 major observations that we can pull from this data. The last 3 tables tell us that the major factors effecting the overall passing rate are: the type of school the student is attending, how much money is spent per student, and the size of the school.") 
print("Charter Schools have vastly better passing rates. When a school spends more money on a student from their budget, the passing rate is significantly higher. Also, the size of the school, which could mean classroom size as well, benefits the overall passing rate greatly when smaller.")

There are 3 major observations that we can pull from this data. The last 3 tables tell us that the major factors effecting the overall passing rate are: the type of school the student is attending, how much money is spent per student, and the size of the school.
Charter Schools have vastly better passing rates. When a school spends more money on a student from their budget, the passing rate is significantly higher. Also, the size of the school, which could mean classroom size as well, benefits the overall passing rate greatly when smaller.